In [1]:
import pandas as pd

In [4]:
pd.read_csv("train_for_NLP.csv")

         id                                       combined_str  target
0         1          deed reason #earthquake may allah forgive       1
1         4                 forest fire near ronge sask canada       1
2         5  resident ask shelter place notify officer evac...       1
3         6  13000 people receive #wildfires evacuation ord...       1
4         7  get sent photo ruby #alaska smoke #wildfires p...       1
...     ...                                                ...     ...
7608  10869   two giant crane hold bridge collapse nearby home       1
7609  10870  @ariaahrary @thetawniest control wild fire cal...       1
7610  10871                   m194 0104 utc 5km volcano hawaii       1
7611  10872  police investigate ebike collide car little po...       1
7612  10873  late home raze northern california wildfire ab...       1

[7613 rows x 3 columns]